<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>if-else</title>
</head>
<body>
  <div id="app">
   <template v-if="logado">
    <p>Usuário Logado</p>
    <button @click="logado = false">Deslogar</button>
   </template>
   <template v-else>
    <p>Usuário Deslogado</p>
    <button @click="logado = true">Logar</button>
   </template>
  </div>

  <div id="app1">
    <template v-if="logado">
     <p>Usuário Logado</p>
     <button @click="logado = false">Sair</button>
    </template>
    <template v-else>
     <a href="#login">Acessar</a>
     <button @click="logado = true">voltar</button>
    </template>
   </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
      logado: true,
    }
    })

    var vm = new Vue({
      el: '#app1',
      data: {
      logado: true,
    }
    })
  </script> 
</body>
</html>