<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>v-model</title>
</head>

<body>

<div id="app">

  <input type="radio" v-model="cor" value="Azul" id="azul">
  <label for="azul">Azul</label>
  <input type="radio" v-model="cor" value="Vermelho" id="vermelho">
  <label for="vermelho">vermelho</label>

  <p>cor: {{cor}}</p>


  <select id="frutas" v-model="fruta">
    <option disabled value="">Selecione uma Fruta</option>
    <option value="Banana">Banana</option>
    <option value="Maça">Maça</option>
    <option value="Kiwi">Kiwi</option>
    <option value="Laranja">Laranja</option>
  </select>

  <p>fruta: {{fruta}}</p>
</div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        fruta: "",
      }
    })
  </script>


  <style>
  
  </style>
</body>

</html>